<h3>ApiService:</h3>
<button (click)="getSomething()">getSomething [30 sec]</button>
<button (click)="getSomethingElse()">getSomethingElse [60 sec]</button>
<button (click)="setSomething()">setSomething</button>

<h3>FakeServiceOne:</h3>
<button (click)="getIncrementCountValue(true)">getIncrementCountValue FORCE [5 sec]</button>
<button (click)="getIncrementCountValue()">getIncrementCountValue [5 sec]</button>
<button (click)="getSomeData()">getSomeData [15 sec]</button>
<button (click)="getSomeData(true)">Force getSomeData [15 sec]</button>
<button (click)="incrementCounter()">incrementCounter</button>
